body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("https://unsplash.it/1920/1080?random");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
    height: 100vh;
}

#heading {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    background: rgba(255, 255, 255, 0.15);
    height: 50px;
    width: 300px;
    border-radius: 50px;
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;

    margin: 5px;
    transition: 0.25s;
}

a:hover {
    background: rgba(255, 225, 255, 0.25);
    width: 280px;
    
    transition: 0.25s;
}